---
layout: default
---
<div class="post">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
  </article>

</div>
